.jumbotron {
    background-size: cover;
}

.jumbotron h1 {
    color: white;
	font-size: 75px;
    font-weight: bolder;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.jumbotron p {
    color: white;
	font-size: 40px;
    font-weight: bold;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

